* {
	font-family: Arial, sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}
#nav, #title, #about, #plants {
	max-width: 1350px;
	margin: 0 auto;
}
.button {
	float: right;
	display: inline-block;
	margin: 15px 15px 0 0;
	padding: 20px;
	background-color: #00991c;
	cursor: pointer;
	width: 75px;
	color: #fff;
}
.button:hover {
	background-color: #007300;
}
h1 {
	float: left;
	margin: 70px 0 10px 50px;
	font-family: 'Ultra', serif;
	font-size: 60px;
}
h3 {
	padding: 5px 0;
}
ul {
	list-style-type: none;
	text-align: center;
}
.annual, .perennial, .shrub {
	display: inline-block;
	height: 300px;
	width: 300px;
	margin: 10px;
}
#plants img {
	height: 300px;
	width: 300px;
	border-radius: 50%;
}
.info {
	background: rgba(0,0,0,0.7);
	color: white;
	height: 300px;
	width: 300px;
	border-radius: 50%;
	display: table;
	opacity: 0;
 	margin-top: -304px;
 	position: absolute;
}
.info ul {
	display: table-cell;
  	text-align: center;
  	vertical-align: middle;
}
.info li {
	padding: 2px 0;
}
#plants li:hover .info {
	opacity: 1; 
}
#about img {
	float: right;
	width: 40%;
	margin: -140px 19px 0 0;
}
#about p {
	float: left;
	margin: 20px 7px 0 50px;	
	font-size: 20px;
	width: 50%;
}
#description p:first-child {
	margin-top: 0px;
}
.site, html {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;

	min-height: 100vh;	
}
.site-content {
	-webkit-box-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	-webkit-flex: 1 0 auto;
}
#footer {
	width: 100%;
	height: 30px;
	margin: 10px auto 0 auto;
	padding-top: 10px;
	text-align: center;
	background-color: #00991c;
	font-size: 12px;
	color: #fff;
}
a {
	text-decoration: none;	
}
#footer a {
	color: #fff;
	font-size: 12px;
}
#top {
	visibility: hidden;
}

/* Media Queries */
@media screen and (max-width: 1280px) {

	#about img {
		margin-top: 0px;
		max-width: 42%;	
	}
	#about p {
		margin-right: 0px;
		padding: 0;
		max-width: 50%;
	}
}
@media screen and (max-width: 800px) {

	h1 {
		font-size: 52px;
		margin-top: 15px;
	}
	#about img {
		float: left;
		margin-left: 50px;		
	}
	#about p {
		font-size: 18px;	
		min-width: 90%;		
	}
	#description p:first-child {
	margin-top: 10px;
	}
}
@media screen and (max-width: 700px) {

	h1 {
		font-size: 46px;
	}
	.button {
		float: none;
		margin: 5px auto 0 auto;
		padding: 5px 0;
		width: 100%;
	}
	.annual, .perennial, .shrub {
		display: inline-block;
		height: 250px;
		width: 250px;
		margin: 5px;
	}
	#plants img {
		height: 250px;
		width: 250px;
	}
	.info {
		height: 250px;
		width: 250px;
	 	margin-top: -253px;
 	}
	#about img {
		min-width: 280px;
	}
	h1, #about img, #about p {
		margin-left: 10px;
	}
	#top a {
		float: right;
		margin-right: 10px;
		color: #000;
		visibility: visible;
	}
}
@media screen and (max-width: 480px) {
	h1 {
		font-size: 40px;
	}
	#about p {
		font-size: 16px;		
	}
}